@import "bootstrap";
@import "home";
@import "font-awesome";

#wrap {
  overflow: hidden;
}

// ナビゲーションバーのCSS
.level1-heading {
  padding:  30px 10px;
  background-color:  lightblue;
  color:  #fff;
  font-size:  1.75rem;
  text-align:  center;
}

.level1-heading__inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.level1-heading__inner::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1rem;
  border: 1px gray solid;
  padding: 1rem;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.login_user {
  border: skyblue 5px solid;
  justify-content: center;
}

#heart {
  cursor: pointer;
}

.heart_red {
  color: red
}